*{
    margin: 0;
    padding: 0;
}
.workmenu{
    position: relative;
    display: grid;
    grid-gap: 10px;
    padding-left: 30px;
    background-color: #fbd8dc;
    width: 300px;
    height: 300px;
    border-left: 0;
    z-index: 0;
    margin-top: 10px;
}
body{
    background-color: #fbd8dc;
}
.arrow{
    text-align: end;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Manage-nas{
    font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 1.5;
}
.sort-text{
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 10px;
}